
body {

    height:100%;
    width: 100%;
}


/* HEADER */

  
.heading-container{
    height: 200px;
   
    background-color:#52616B ;
    display: flex;
    justify-content:center;
    align-items: center;
    /* flex-wrap: wrap; */

}
.logo{
    display: flex;
    align-items: center;
    justify-content:end; 
    flex-grow: 1;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 85px;
    flex-grow: 3;
    /* flex-wrap: wrap; */
    font-size: 70px;
}





/* NAVBAR */
.nav {
    background-color: #D1D1D1;
    height:100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
}
.img1 {
    height: 200px;
    width: 200px;

    /* border: 2px solid black; */
}


/* INTRODUCTION */
#introduction{
    background-color: #F0F5F9;
    /* margin-top: 5%; */
    display: flex;
    flex-direction:column; 
    justify-content: center;
    align-items: center; 

}


/* FACILITIES */
#facilities{
    background-color: #C9D6DF;
    display: flex;
    flex-direction:column; 
    justify-content: center;
    align-items: center; 
} 





.img2{
    height: 200px;
    width: 200px;

}







.space1 {
    margin-top: 30px;
}

.item1 a {
    /* border: 3px solid red; */
    height: 20px;
    width: 50px;
    text-decoration: none;
    color: black;

}
.item1 a:hover {
   color: grey;

}

.container-flexbox {
    /* margin-top: 5%; */
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   

}
.middle-heading{
  font-size: 70px;
}
.facilities{
    display: flex;
}
.facilities-para{
   width:90%;
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E2022;
    height:70px;
    width: 100%;
    color: white;
    /* margin-top: 3%; */
}


/* CONTACT US */
#contact-us{
    background-color: #F0F5F9;
    display: flex;
    flex-direction:column; 
    justify-content: center;
    align-items: center; 
    
}
#about-us{
    background-color: #C9D6DF;
    display: flex;
    flex-direction:column; 
    justify-content: center;
    align-items: center; 

}
.bucket-elevator{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 90%;

}
.recoImg{
    margin-top: 30px;
    margin-bottom: 30px;
}
