     /* Home Sans  */
     @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
     /* monserratte  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');



body{
    margin: 0;
    padding: 0;
}
/* HEADER  */
.header-container{
    background-color: #36454F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
   
}
.img1{
    height: 200px;
    width: 200px;
}
.heading-text{
    display: flex;
    margin-right: 200px;
    font-family: 'Open Sans', sans-serif;
    justify-content:center;
    align-items: center;
    font-size: 60px;
    flex-grow: 3;
    color: #b3b3b3;
}


/* NAVBAR */
.nav{
    display: flex;
    /* width: 700px; */
    justify-content:space-around;
    background-color: #495D6A;
}
.item{
    text-decoration: none;
    color: #b3b3b3;
}
.item:hover{
    color: white;
}

/* Introduction  */
#introduction{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    background-color: antiquewhite;
}
.text1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}



/* FACILITIES */

#facilities{
    /* padding: 40px 30px ; */
    
    background-color: #b3b3b3;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
    /* 1. bucket elevator  */
.bucket-elevator{
    width: 90%;
    text-align: center;
}
.subHeading{
    /* color: white; */
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
.img2{
    height: 200px;
    width: 200px;
    padding: 20px;
}
  



/* about us  */
#about-us{
    padding:30px;
    
    text-align: center;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* contact us  */
#contact-us{
    padding: 20px;
    text-align: center;
    background-color: #b3b3b3;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.footer-container{
   background-color: #36454F;
   text-align: center;
   padding: 20px 0 20px 0 ;
   color:#b3b3b3 ;
   /* height: 70px; */
  
  /* line-height: 1; */
   
  
}

/* RESPONSIVE */
@media (max-width: 500px) {
    /* HEADER RESPONSIVE  */
    .header-container{
        height: 320px;
    }
    .heading-text{
        /* flex-grow:6 ; */
        margin-left: 220px;
        font-size: 40px;
        margin-bottom: 30px;
    }
}